/* Fonte */
@import url('https://fonts.googleapis.com/css2?family=Sigmar&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css');

body {
  font-family: 'Sigmar', serif;
  font-weight: 200;
  font-style: normal;
}
